#head {
    font-size: 65px;
    font-weight: bolder;
}
#pa{
    width:50%;
    align-items: center;
    margin: auto;
}


.p {
    font-size: 20px;
    font-weight: lighter;
}

#center {
    text-align: center;
}

.input {
    /* padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    border-radius: 10px; */
    padding:10px 50px 10px 50px;

border: none;
padding-right: 100px;
font-size: larger;
}
#box{
    width:500px;
    align-items: center;
    border: 5px solid lightblue;
    margin: auto;
    height: auto;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 10px;
   justify-content: space-around;
}

#in {
    /* height: 100px; */
    /* width: 200px; */
    display: flex;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 2px solid aliceblue;
}

#btn {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    background-color: rgb(79, 182, 245);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 10px;
}
#cont{
    display:flex;
    width:70%;
    gap:20px;
    /* border:1px solid red; */
    text-align: center;
    margin: auto;
}
#cont>div{
    width:30%;
    /* border:1px solid green; */

}
#cont2{
    width:100%;
    display:flex;
    height: auto;
   

}
#cont2>div{
    width:50%;
    /* border:1px solid green; */

}
#secdiv>h1{
    font-size: 60px;
    font-weight: bolder;
}
#secdiv>button{
    padding: 8px;

}
#secdiv>p {
    font-size: 20px;
    font-weight: lighter;
}
#secdiv{
    text-align: left;
}
#btnn{
    font-size: 18px;
    font-weight: bolder;
    color:grey;
    background-color: white;
}
#btnn:hover{
    border-color: blue;
    color: blue;
}
#cont3>h1{
    font-size: 60px;
    font-weight: bolder;
}
#pa>p{
    font-size: 20px;
    font-weight: lighter;
}
#sp::before{
    color: brown;
}
#spb{
    background-color:rgb(212, 14, 123);
    color:white
}
#cont4{
    width:70%;
    display:flex;
    margin: auto;
    align-items: center;
    /* border:1px solid red; */
}
#cont4>div{
    width:20%;
    /* border: 1px solid green; */
   
}
.imgg{
    width:20%
}
.pas:hover{
    font-weight: lighter;
}
.pas{
    font-weight: bolder;
}
#cont5{
    width:70%;
    display:flex;
    margin: auto;
    align-items: center;
    /* border:1px solid red; */
    margin-bottom: 50px;
}
#cont5>div{
    width:50%;
    /* border: 1px solid green; */
}
#phot{
    width:80%
}
#c51{
    text-align: left;
 

}
#c51>h1{
    color: rgba(0, 132, 255, 0.877);
}
#paa{
   width:80%;
   font-size: 20px;
   font-weight: lighter;

}
#c52{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
border-radius: 20px;
}
#kty{
    display: flex;
    gap:30px;
    border-top: 1px solid black;
    border-bottom:1px solid black; ;
}
#vd{
    margin-top: 20px;
}
.li>img{
    width:20px
}
ul::marker{
content: none;
}
.li{
    display: flex;
    gap:10px
}
#cont6{
    display: flex;
    text-align: left;
    padding-left: 50px;
    margin-left:50px ;
    width:60%;
    /* border: 1px solid blue; */
    background-color: rgb(221, 247, 247);
    height: auto;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#c61>h1{
    font-size: 50px;
    font-weight: bolder;
    width:50%;
}
#Ai{
    color:white;
    background-color: rgb(59, 167, 218);
}
#c62{
    width:70%;
    font-size: 20px;
    font-weight: lighter;
}
#c65{
    width:50%;
/*   
    border:1px solid black; */
    margin-left: 100px;
}
#flex{
    display: flex;
}
#cont7{
    display: flex;
    width:80%;
    /* border: 1px solid blue; */
    height:auto;
    text-align: left;
    margin: auto;
}
#cont7>div{
    width:50%;
    /* border: 1px solid green; */
   
}
#im{
    width:100%
}
#c72>h1{
    font-size: 50px;
    font-weight: bolder;
    width:95%;
}
#c72>p{
    width:95%;
    font-size: 20px;
    font-weight: lighter;
}

#lg1{
    width:25%
}
#lg2{
    width:8%;
    margin-left: 30px;
}
#lg3{
    width:20%;
    margin-left: 30px;
}
#cont8{
    width:100%;
    height: 500px;
    /* border: 1px solid blue; */
    background-color: rgba(0, 132, 255, 0.877);;
align-items: center;
}
#c81{
    display: flex;
    gap:15px;
   width:30%;
   margin:auto;
   
}
#c81>h1{
    font-size: 32px;
    color: white;

}
#c81>img{
    width:100px;
    height: 50px;
    margin-top: 27px;
}
#c82{
    width:500px;
    align-items: center;
    border: 5px solid lightblue;
    margin: auto;
    height: auto;
   background-color: aliceblue;
   border-radius: 20px;
   padding: 10px;
   justify-content: space-around;
}
#c821>input{
padding:10px 50px 10px 50px;

border: none;
padding-right: 100px;
font-size: larger;

}
#c821>button{
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    background-color: rgb(79, 182, 245);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 10px;
}
#c821{
    background-color: white;
    width:55%;
    display: flex;
   justify-content: space-evenly;
    border-radius: 20px;
    margin: auto;
}
#spn{
    width:80%;
    /* border:1px solid red; */
    display: flex;
    margin: auto;
}
#spn>div{
width:30%;
}
#h{
    color: white;
}
.spon{
    width:60%;
}
#stars{
    margin-top: 50px;
}
#lat>p{
    color: white;
  width:75%;
    font-size: 20px;
    font-weight: lighter;
}
#lat{
    width:50%;
    margin: auto;
    align-items: center;
  
}
#new{
    display: flex;
}




