#lo{
    width:200px;
}
#po{
    font-size: 24px;
}
.form-control{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
span{
    text-decoration: underline;
    color:blue;
}
#term{
    display: flex;
  
    width:50%;
    height: auto;
    border: 1px solid red;
    align-items: center;
    margin-left:40%;
}
#term>p{
    text-align: center;
}
#sig{
background-color: rgb(0, 124, 240);
color:white
}
#loginpath{
    display: flex;
    margin-left:40%;
    width:40%;
    border:1px solid red;
}
#loginpath>button{
    padding: 5px;
    border-radius: 10px;
}
#apple{
    width:10%
}
#open{
    width:10%
}
